* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/background.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: #696969;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

header .logo > img {
    width: 175px;
    height: 165px;
}

header > img {
    width: 70px;
    height: 70px;
    margin: 0 0 0 7%;
}

header nav {
    margin: 0 3% 0 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li > a{
    text-decoration: underline;
    color: #FBE02B;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1.5px;
}

header nav ul li > a:hover {
    color: black;
    font-weight: 700;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13% 0 0 0;
}

.obi-wan-gif {
    background: white;
    width: 550px;
    height: 400px;
    padding: 20px;
    border-radius: 2%;
}

.obi-wan-gif > img {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 120px;
    background: #696969;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 0;
}

nav ul li > a.active {
    color: black;
    font-weight: 700;
}

.cards {
    display: flex;
    width: 90%;
    min-height: calc(100vh - 285px);
    flex-wrap: wrap;
    gap: 42px;
    padding: 0 0 0 30px;
}

.card {
    height: 400px;
    width: 300px;
    background: white;
    border-radius: 20px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.card > img {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card > p {
    font-size: 20px;
    font-weight: 600;
}

.cards #loading {
    align-self: center;
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

.modal {
    position: absolute;
    background: #0000007c;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 143.1%;
}

.modal > main {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    width: 100%;
    min-height: 700px;
    max-height: 1000px;
    background: white;
    border-radius: 20px;
    margin-top: 25px;
    padding: 20px;
}

.modal-image {
    display: none;
    align-self: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    width: 500px;
    height: 200px;
    background: white;
    border-radius: 10px;
}

.modal-image > form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.cardInfo {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.cardInfo .editItem {
    display: flex;
    padding: 15px;
}

.cardInfo .editItem > img{
    margin: 20px 0 0 5px;
    width: 180px;
    height: 250px;
    border-radius: 10px;
}

.cardInfo > .item-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cardInfo > .item-info > p {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0 5px 15px;
}

.cardInfo > .buttons {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

button {
    width: 150px;
    height: 40px;
    background: none;
    cursor: pointer;
    border: #696969 1px solid;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}

.item-info > p.infoItem {
    font-size: 16px; 
}

.modal > main .cardMovies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.modal > main .cardMovies .movie-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.modal > main .cardMovies .movie-info > img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.modal > main .newCard {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5% 20% 0 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 50px;
    align-items: center;
}

#form-create {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 25px;

}

input[type="text"] {
    border-radius: 5px;
    border: 1px solid #696969;
    height: 20px;
    width: 300px;
    padding: 2px;
}

#form-create #input-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-create #input-text > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
}

#checkbox > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-right: 100%;
    gap: none;
}

#checkbox > div > input {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    margin-top: 5px;
}

.modal-movie {
    display: none;
    align-self: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    width: 500px;
    height: 200px;
    background: white;
    border-radius: 10px;
}

@media (height > 900px) {
    footer {
        height: 145px;
        margin: 10% 0 0 0;
    }
}

@media (width <= 1920px) {
    .cards {
        padding: 0 0 0 150px;
        gap: 50px;
    }

    .card {
        height: 350px;
        width: 250px;
    }

    .modal {
        height: 190.4%;
    }

    .modal > main {
        width: 55%;
        min-height: 700px;
        max-height: 1700px;
    }
}